@import url(../../app.component.scss);
ul {
  list-style: none;
  padding-left: 0;
  font-size: 80%;
}

.text-justify {
  text-align: justify;
}

.btn {
  color: white;
  font-weight: bold;
  border-color: #d5e848;
}

.card-body {
  color: #0e6ebe;
}
