@import url(../../app.component.scss);
ul {
  list-style: none;
  padding-left: 0;
  font-size: 80%;
}

.text-justify {
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  color: white;
  font-weight: bold;
  border-color: #d5e848;
  display: flex;
  justify-content: center;

}

.card-body {
  color: #0e6ebe;
}

.card {
  max-width: 600px;
  margin: auto;
  max-height: 600px;
  
}
