// div {
//   display: flex;
//   justify-content: space-between;
//   text-align: center;
//   color: white;
// }

div img {
  height: 7vh;
}

img.ng-star-inserted {
  height: 5vh;
}

.newUser {
  background: rgba(14, 110, 190, 0.50);
}

app-invitation {
  width: 80%;
}