td {
  color: #0e6ebe;
  font-style: italic;
  margin: 0;

  button {
    color: #0e6ebe;
    font-style: italic;
  }
}

tr {
  vertical-align: middle;
}


mat-form-field {
  margin: 0;
  padding-top: 2vh;
}

mat-label {
  font-weight: bold;
  font-size: medium;
  color: #d5e848;
}

table {
  width: 100%;
}

th {
  color: #0e6ebe;
}

img {
  height: 6vh;
}



.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0e6ebe;
  background-color: #d5e848;
  height: 40px;

  button {
    background-color: #0e6ebe;
    color: #d5e848;
    border: #0e6ebe 1px solid;
    margin: 0 2vh;
  }

  div {
    width: 100%;
    margin: 1vh;
  }
}