// @import url(../../app.component.scss);

td {
  color: #0e6ebe;
  text-align: start;
}


// th.mat-header-cell {
//   text-align: start;
// }


table {
  width: 100%;
}

th {
  color: #0e6ebe;

}

img {
  height: 6vh;
  margin: 2vh;
}

// th.mat-header-cell,
// td.mat-cell,
// td.mat-footer-cell {
//   padding: 0;
//   border-bottom-width: none;
//   border-bottom-style: none;
// }

// ::ng-deep {

//   .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: white;

//   }

//   mat-form-field {

//     .mat-hint,
//     input,
//     ::placeholder,
//     .mat-form-field-label {
//       color: white;
//     }
//   }
// }

// // form {
// //   display: grow;
// // }
// form {
//   width: 50%;
// }

// mat-form-field {
//   width: 100%;
// }

// div {

//   flex-direction: column;
// }

// div {
//   justify-content: start;
// }


// button {
//   margin-right: 10px;
// }


// ::ng-deep {

//   .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: white;
//   }

//   mat-form-field {

//     .mat-hint,
//     input,
//     ::placeholder,
//     .mat-form-field-label {
//       color: white;
//     }
//   }
// }
// mat-panel-title {
//   color: #0e6ebe;
// }

// mat-panel-description {
//   justify-content: end;
//   color: #0e6ebe;
// }


// mat-expansion-panel {
//   // background-color: white;
//   color: #0e6ebe;
// }

// #id {
//   display: none;
// }