<div class="container">
  <div class="logo">
    <img src="../../../assets/img/logo_Blanco.png">
  </div>
  <form class="form" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>User: </mat-label>
      <input formControlName="user" matInput placeholder="user">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Password: </mat-label>
      <input formControlName="password" matInput type="password" placeholder="password">
      <mat-error></mat-error>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>
  </form>
</div>