<!-- <video src="../../../assets/video/videoGWL.mp4" autoplay="true" muted="false" loop="true"
  poster="https://gwlvoices.com/"></video>
<div class="grad"></div>
<div class="header">
  <div><img src="./Css/Logo-GWLvoices-vertical-white.png" alt="" style="width:60%"></div>
</div>
<br>(
<form class="login" novalidate [formGroup]="loginform" (ngSubmit)="getLoginData()">
  <input type="text" placeholder="Email" formControlName="user" required><br>
  <input type="password" placeholder="Password" formControlName="password" required><br>
  <button type="submit" value="Login">Login</button>
  <br>
  <p style="text-align: left">*Forgot your password?</p>
</form> -->