
<section class="container mt-5">

  <div class="d-flex justify-content-around">
    <h2 class="text-center mb-3 titulo">Listado de Usuarias</h2>
   

  </div>
  <div class="row">

    <article class="col-12 col-md-6 col-lg-3" *ngFor="let user of ArrUsers">
      <app-user-card [myUser]="user"></app-user-card>
    </article>

    <nav class="mt-5">
      <ul class="pagination pagination-sm">
        <li *ngFor="let page of ArrPagesButtons, let i = index" class="page-item" aria-current="page"
          routerLinkActive="active" [routerLink]="['/users', i+1]">
          <span class="page-link">{{i + 1}}</span>
        </li>
      </ul>
    </nav>

   
  



  </div>

</section>