<div class="container">
  <div class="logo">
    <img src="../../../assets/img/logo_Blanco.png">
  </div>

  <div class="form">
    <form novalidate [formGroup]="email" (ngSubmit)="onSubmit(email)">
      <mat-form-field class="formfield" appearance="outline" color="accent">
        <mat-label>Introduce your Email :</mat-label>
        <input formControlName="email" matInput placeholder="Ex. name@gwlvoices.com">
        <button mat-flat-button color="accent" [disabled]="!email.valid">Send</button>
      </mat-form-field>
    </form>
  </div>
</div>