<div class="container">
  <div class="logo">
    <img src="../../../assets/img/logo_Blanco.png">
  </div>

  <div class="form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
      <mat-form-field class="formfield" appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Ex. name@gwlvoices.com">
      </mat-form-field>
    </form>
    <button mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>