@import url(../../app.component.scss);

.form {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

form.ng-untouched {
  text-align: center;
}

.ng-valid {
  text-align: center;
}

.ng-invalid {
  text-align: center;
}

.form .formfield {

  text-align: center;
}

.form button {
  width: 35vh;
  font-style: italic;
  color: blue;
}

::ng-deep {

  .mat-form-field-appearance-outline .mat-form-field-outline {

    color: white;
  }

  mat-form-field {

    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label {
      color: white;
    }
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    width: 40vh;
  }

}