<mat-tab-group mat-align-tabs="start" backgroundColor="primary">
  <mat-tab label="New Working Group">
    <app-create-wg></app-create-wg>
  </mat-tab>
  <mat-tab *ngFor="let item of list" label="{{item.name}}">
    <mat-card>
      <mat-card-title>
        <img src="../../../assets/icons/{{item.id}}.png" alt="">
        {{item.name}}
      </mat-card-title>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
<mat-tab-group mat-align-tabs="center" backgroundColor="primary">
</mat-tab-group>