
<section class="container mt-3 p-3">

  <!-- <div class="card p-4"> -->
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{user?.name}}</mat-card-title>
        <mat-card-subtitle>{{user?.surname}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img" src="../../../assets/img/{{user?.id}}.png" alt="Photo usuaria">
      <mat-card-content>
        <section>
          <ul>
            <li>Email: {{user?.email}}</li>
          </ul>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let wg of user?.workingGroups">{{wg.name}}</mat-chip>
          </mat-chip-list>
    
        </section>
      </mat-card-content>
    
    </mat-card>
    <!-- <img class="img-fluid card-img-top card-img-fill" src="../../../assets/img/{{user?.id}}.png" alt="Photo usuaria">

    <div class="card-body">

      <h2 class="card-title">{{user?.username}}</h2>
      <div class="card-text">
        <ul>
          <li>Name: {{ user?.name}}</li>
          <li>Surname: {{ user?.surname}}</li>
          <li class="text-muted small">Email: {{ user?.email}}</li>
        </ul>
       
      </div>

    </div> -->
  <!-- </div> -->

  <a class="btn w-100 mt-2" [routerLink]="['/detail', user?.id]">Ver Detalle</a>
</section>