@import url(../../app.component.scss);

ul {
  list-style: none;
  padding-left: 0;
  font-size: 80%;
}

.bodyContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.card-img-fill {
  /* width: 254px; */
  object-fit: fill;
  height: 168px;
}

.btn {
  color: white;
  font-weight: bold;
  border-color: #d5e848;
}

.example-card {
  color: #0e6ebe;
   
}