

<div class="container">
<div class="logo">
  <img src="../../../assets/img/logo_Blanco.png">
</div>

<div class="formulario">


<form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">

  <div class="fields p-3">
    <mat-form-field class="example-full-width" appearance="outline"  color="accent">
      <mat-label>Username</mat-label>
      <input formControlName="username"  matInput placeholder="Ex. Username">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="outline"  color="accent">
      <mat-label>name</mat-label>
      <input formControlName="name" matInput placeholder="Ex. First Name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline"  color="accent">
      <mat-label>surname</mat-label>
      <input formControlName="surname" matInput placeholder="Ex. Last Name">
    </mat-form-field>
  </div>
   
  <div class="fields p-3">

    <mat-form-field class="example-full-width" appearance="outline"  color="accent">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Ex. New Street 123">
    </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="outline"  color="accent">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Ex. name@gwlvoices.com">
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="outline"  color="accent">
        <mat-label>Img</mat-label>
        <input formControlName="img" matInput placeholder="Ex. name.surname.jpg">
      </mat-form-field>
  </div>
   
      <div class="fields p-3">

        <mat-form-field class="example-full-width" appearance="outline"  color="accent">
          <mat-label>UrlGWL</mat-label>
          <input formControlName="urlGWL" matInput placeholder="Ex. California">
        </mat-form-field>
     
        <mat-form-field class="example-full-width" appearance="outline"  color="accent">
          <mat-label>Telephone</mat-label>
       
          <input formControlName="phone" type="tel" matInput placeholder="555-555-1234">
         
        </mat-form-field>
      </div>
     
      <div class="fields p-3">

        <mat-form-field class="example-full-width" appearance="outline"  color="accent">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput placeholder="Ex. password">
        </mat-form-field>
<!--      
        <mat-form-field class="example-full-width" appearance="outline"  color="accent">
          <mat-label>Repeat your password</mat-label>
          <input formControlName="" matInput placeholder="Ex. password">
        </mat-form-field>
      -->
      </div>
 
  <button mat-icon-button>
    <mat-icon>save</mat-icon>Register
  </button>

</form>
</div>
</div>

