.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 100px;
  font-weight: bold;
  color: azure;
}

.example-full-width {
  width: 100%;
  font-weight: bold;
    color: azure;
}

td {
  padding-right: 8px;
}
