.formulario {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 5VH;
  background: rgba(14, 110, 190, 0.50);

  button {
    color: white;
  }

  ::placeholder {
    color: white;
  }
}


mat-form-field {
  margin: 20px;
}


::ng-deep {

  .mat-form-field-appearance-outline .mat-form-field-outline {

    color: white;

  }

  mat-form-field {

    padding: 1px;
    margin: 10px;



    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label {
      color: white;
    }
  }
}

// .logo {
//   display: flex;
//   justify-content: center;
// }